@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

:root {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
  "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}

#app {
  margin: 0 auto;
}

.container{
  max-width: 1000px;
  margin: auto;
}

a {
  text-decoration: none;
}





